#root {
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.catadd {
  margin: auto;
  margin-top: 20px !important;
}

.empty {
  background-color: white !important;

  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 6px !important;
  border: 2px solid #e5eaf2;
  width: 60vw;
}

body {
  background-color: #f5f6fa !important;
}

.app {
  display: flex;
}

.catheader {
  margin-right: 180px !important;
  text-align: left;
  max-width: 600px;
}

.content {
  padding-left: 300px;
  float: right;
}

.sidebar {
  background-color: #001333;
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
  float: right;
}

.MWW-logo img {
  width: 180px;
  margin-top: 3px;
}

.sidebar ul li a {
  display: block;
  padding: 13px 30px;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
  text-align: left;
}

.sidebar ul li a span {
  margin-left: 20px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  color: #ffffff;
  background: #0f213f;
  border-radius: 5px;
}

.sidebar li {
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.sidebar ul {
  padding-left: 0px;
}

.submenu a {
  margin-left: 40px !important;
  margin-top: 10px;
}

.submenu a span {
  margin-left: 10px !important;
  margin-right: 20px;
}

.topbar {
  position: fixed;
  left: 300px;
  height: 10px;
  top: 0;
  display: flex;
}

.searchbar {
  margin-top: 20px;
  margin-left: 30px;
}

.sc-beqWaB.jfjfIN {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url(assets/kruisje.png);
  background-size: contain;
}

.nameinput,
.imageinput {
  display: flex;
  justify-content: space-between;
}

.sc-iKGpAt.brEBPq {
  width: 70% !important;
}

.sc-iKGpAt.bIWYiw {
  width: 70% !important;
}

.ondertekst {
  text-align: left;
  margin-bottom: 30px;
}

.imagefield {
  padding-right: 392px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgb(204, 213, 229);
  border-radius: 3px;
  padding-left: 10px !important;
  width: 100px;
}

.imageinput {
  margin-top: 20px;
}

.preview-image {
  max-width: 100px;
  max-height: 200px;
}

.toevoegenbutton {
  margin-top: 40px !important;
  margin-left: 600px !important;
  max-width: 120px;
}

.instellingen {
  margin-top: 30px !important;
}

.iJYPJs {
  margin-right: 10px !important;
}

.productentoevoegen {
  border: 1px solid rgb(204, 213, 229);
  border-radius: 3px;
}

.productentoevoegen img,
.categoriebeheer img,
.categorieoverzicht img {
  max-width: 30px;
  max-height: 30px;
}

.categoriebeheer,
.categorieoverzicht {
  background-color: white;
  padding: 10px;
  border-radius: 6px !important;
  border: 2px solid #e5eaf2;
  width: 60vw;
}

.table-cell,
.table-cellname {
  padding-left: 100px !important;
}

.table-stock,
.table-cellstock {
  padding-left: 250px !important;
}
.table-cellprod,
.table-cellsub {
  padding-left: 100px;
}

.table-prod,
.table-sub {
  padding-left: 100px;
}

.table-row {
  display: flex;
  align-items: center;
}

.table-cellprice {
  float: right;
  margin-left: 250px;
}

.table {
  margin-top: 20px !important;
}

.textsearchbar input {
  padding: 20px !important;
  max-width: 200px !important;
}

.thead th {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700 !important;
}

.catselect {
  margin-top: 20px;
}

.sc-iKGpAt.brEBPq {
  margin-top: 10px;
  margin-bottom: 10px;
}

.toprow {
  display: flex;
}

.sc-fYdXmn.hNzWcq {
  margin-left: 20px;
  max-width: 200px !important;
  max-height: 40px;
  margin-top: 10px;
}

.fTtnVw.opslaanbutton {
  float: left;
  margin-top: 50px !important;
}

.producttoevoegenadd.iJYPJs {
  margin-left: 0px !important;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.icondropdown svg {
  margin-right: 30px !important;
}

.icontrash svg {
  margin-left: 100px !important;
}

.sc-kFuwaP.gvlhBg {
  margin-top: 15px !important;
  margin-left: 10px;
}
